---
layout: layouts/base
---

<section class="p-6 md:p-8 bg-white shadow-xs">
  <main>
    <div class="text-center">
      <h2 class="font-base mb-1">{{ name }}</h2>
      <small class="text-grey-dark">{{ date | date: "%d" | ordinal }} {{ date | date: "%B %Y" }} {% if dug %}· 🐶 {% endif %} {% if summited %} ·
        Summited{% endif %} {% if munro %} · Munro{% endif %}</small>
    </div>
    {% if content.length > 0 %}
    <article class="mt-6 leading-normal text-center">
      {{ content }}
    </article>
    {% endif %}
  </main>
</section>

<section class="-mx-4 sm:mx-auto">
  {% capture entryDate %}{{ date | date: '%Y-%m-%d' }}{% endcapture %}
  <div class="mt-6">
    {% for image in entryPhotos %}
      {% if image contains entryDate %}
        {% assign photosAvailable = true %}
        <img src="/assets/images/entries{{ image }}" class="w-full mb-6 shadow-xs">
      {% endif %}
    {% endfor %}
  </div>
</section>
