---
layout: layouts/base
---

<section class="p-6 md:p-8 bg-white shadow-xs">
  <main>
    <div class="text-center">
      <h1 class="font-base text-3xl font-bold mb-1">{{ title }}</h1>
      <small class="text-gray-500">{{ date | date: "%d" | ordinal }} {{ date | date: "%B %Y" }}</small>
    </div>
    {% if content.length > 0 %}
    <article class="mt-6 leading-normal entry">
      {{ content }}
    </article>
    {% endif %}
  </main>
</section>

<section class="-mx-4 sm:mx-auto">
  {% capture entryDate %}{{ date | date: '%Y-%m-%d' }}{% endcapture %}
  <div class="mt-6">
    {% for image in entryPhotos %}
      {% if image contains entryDate %}
        {% assign photosAvailable = true %}
        <img src="/assets/images/entries{{ image }}" class="w-full mb-6 shadow-xs">
      {% endif %}
    {% endfor %}
  </div>
</section>
