---
layout: layouts/page
pagination:
   data: collections.sortedEntries
   size: 20
   alias: sorted
---

<h1 class="text-base leading-tight mb-4">Entries</h1>
{% for entry in sorted %}
<a href="{{ entry.url}}" class="no-underline">
   <article class="rounded p-2 -mx-2 bg-white border-b-1 flex items-center justify-between hover:bg-grey-lightest">
      <h2 class="inline text-base font-normal flex items-center"> {{ entry.data.name }}
         {% if entry.data.dug %} <img src="/assets/images/bone.svg" class="w-4 mx-1" alt="Dog">{% endif %}
         {% if entry.data.camping %} <img src="/assets/images/camp.svg" class="w-4 mx-1" alt="Camp"> {% endif %}
         {% if entry.data.munro %} <img src="/assets/images/climb.svg" class="w-4 mx-1" alt="Munro"> {% endif %}
      </h2>
      <small class="text-grey-dark">{{ entry.date | date: "%d/%m/%y" }}</small>
   </article>
</a>
{% endfor %}


{% if pagination.pageLinks.length > 1 %}
<nav class="mt-6 pt-6 border-t border-grey-light flex justify-between text-sm">
   <div> {% if pagination.previousPageLink %}
      <a class="no-underline hover:underline" href="{{ pagination.previousPageHref | url }}">← Newer</a>
      {% else %}
      <span class="text-grey">← Newer</span>
      {% endif %}</div>

   <div> {% if pagination.nextPageLink %}
      <a class="no-underline hover:underline" href="{{ pagination.nextPageHref | url }}">Older →</a>
      {% else %}
      <span class="text-grey">Older →</span>
      {% endif %}</div>
</nav>
{% endif %}